# nnU-Net dependencies
torch>=2.0.0
torchvision>=0.15.0
nnunetv2>=2.2
SimpleITK>=2.2.1
nibabel>=4.0.2
batchgenerators>=0.25
scikit-image>=0.19.3
scipy>=1.8.1
pandas>=1.4.4
matplotlib>=3.5.3
tqdm>=4.64.1
dicom2nifti>=2.4.3
pydicom>=2.3.0
medpy>=0.4.0
acvl-utils>=0.2
dynamic-network-architectures>=0.2
